.header {
  border: 3px solid #222;
  padding: 10px;
  text-align: center;
  margin-bottom: 20px;
}

.header__title {
  text-decoration: wavy;
}

.main {
  border: 3px solid #222;
  padding: 10px;
}


.productList {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px 10px;

  @media and (min-width: 600px){
    grid-template-columns: 1fr 1fr 1fr;
    
  }
}

.product {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.productImage {
  width: 100%
}

.productName {
  font-weight: bold;
}